html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: underline;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: block;
  background-color: #1c1d21;
  color: white;
  margin: 0;
  position: fixed;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-items {
  width: 100vw;
  display: flex;
  padding: 1rem;
}

.nav-items-right {
  color: #ff84ce;
  width: 100%;
  text-align: right;
}

.nav-items-right ul li {
  display: inline-block;
  padding: 12px 30px;
}

.nav-items-right ul li a {
  text-decoration: none;
  color: #ff84ce;
  font-size: 20px;
}

.title {
  color: #ff84ce;
  font-weight: bold;
  font-size: 35pt;
  font-family: "Unbounded";
  width: 15%;
}

#nav {
  z-index: 100;
  height: auto;
  min-height: 2em;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 20px;
  overflow: hidden;

  box-shadow: 1px 12px 21px 0px rgba(0, 0, 0, 0.028);
}

#nav-solid {
  color: black;
  background-color: white;
  transition: color 0.75s linear 0.5s, background-color 0.75s linear 0.5s;
}

.brand {
  display: inline-block;
  padding: 1em;
  padding-left: 3em;
}

ul {
  float: right;
}

ul li {
  display: inline-block;
  padding: 1em;
  padding-right: 3em;
}

#home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(love.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#home::after {
  height: 100vh;
  width: 100vw;
  content: "";
  position: relative;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

#info {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1c1d21;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#home::after {
  height: 100vh;
  width: 100vw;
  content: "";
  position: relative;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

#main-title {
  text-align: center;
  position: relative;
  top: 25%;
  z-index: 10;
  /* background-color: white; */
  color: white;
}

#title {
  color: #ff84ce;
  font-weight: bold;
  font-size: 700%;
  font-family: "Unbounded";
}

.button-32 {
  background-color: white;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 13rem;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #ffea06;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
